target/
!.mvn/wrapper/maven-wrapper.jar
/static/
/templates/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.alt
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Log files
*.log

# Crash logs
/crash.txt
